@import "tailwindcss";
/* InfiniteMovingCards Animation */
@keyframes scroll {
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll var(--animation-duration, 100s) linear infinite;
  animation-direction: var(--animation-direction, forwards);
}